@import "../../../../styles/layouts.scss";

.wrapper {
    padding: 17.2rem 6.4rem 0;
}

.header {
    margin-bottom: 6.4rem;
}

.header-order {
    margin-top: 6rem;
    margin-bottom: 3.2rem;
    width: 100%;
}

.title {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

.stats {
    @extend .container;
    display: flex;
    gap: 2.8rem;
}

.stats-inner {
    width: 100%;
}

.card-wrapper {
    width: 50%;
    position: relative;
}

.stat-djed-stablecoin,
.stat-shen-reservation {
    width: 100%;
}

.orders {
    margin: 3.2rem auto 5.6rem;
}

.card-wrapper {
    position: relative;
}

.coin-image-left,
.coin-image-right {
    position: absolute;
}

.coin-image-left {
    height: 148px;
    width: 162px;
    left: -130px;
    bottom: 0;
}

.coin-image-right {
    height: 170px;
    overflow: hidden;
    right: -148px;
    top: 0;
    width: 209px;
    z-index: 6;
}

.coin-image-left-mobile,
.coin-image-right-mobile {
    position: absolute;
    display: none;
}
.coin-image-left-mobile {
    height: 148px;
    width: 162px;
    left: -130px;
    bottom: 0;
}

.coin-image-right-mobile {
    height: 170px;
    overflow: hidden;
    position: absolute;
    right: -148px;
    top: 0;
    width: 209px;
    z-index: 6;
}

@media (max-width: 1024px) {
    .card-wrapper {
        width: 100%;
    }

    .stats {
        flex-direction: column;
    }

    .coin-image-left,
    .coin-image-right {
        display: none;
    }

    .coin-image-left-mobile,
    .coin-image-right-mobile {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        padding-right: 1.8rem;
        padding-left: 1.8rem;
    }

    .stats {
        padding: 0 !important;
    }
    .coin-image-left-mobile,
    .coin-image-right-mobile {
        display: none;
    }
}
