.wrapper {
    background-color: #1a2243;
    border-radius: 0;
    box-shadow: 0 4px 44px 0 rgba(0, 0, 0, 0.13);
    color: #fff;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 100%;
}

.icon {
    background-image: url("../../assets/icons/arrow-bottom-yellow.svg");
    background-size: contain;
    cursor: pointer;
    height: 24px;
    position: absolute;
    right: 32px;
    top: 28px;
    transition: all 0.2s linear;
    -webkit-user-select: none;
    user-select: none;
    width: 24px;
    z-index: 99;
}

.header {
    -webkit-padding-end: 64px;
    align-items: center;
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    padding-inline-end: 64px;
    position: relative;
    background-image: linear-gradient(180deg, #373c62 0, #424a7b);
    padding: 32px 32px 24px;
    position: relative;
    transition: all 0.3s ease-out;
    z-index: 10;
    cursor: pointer;
}
