.wrapper {
    padding: 38px 40px 40px;
    width: 100%;
    backdrop-filter: blur(10px);
    background-image: linear-gradient(180deg, #373c62 0, #424a7b);
    border-radius: 50px;
    box-shadow: 0 4px 84px 0 rgba(0, 0, 0, 0.13);
}
.header {
    display: flex;
    align-items: center;
    padding-bottom: 2.4rem;
}

.header-title {
    padding-left: 2.2rem;
    font-size: 2rem;
    font-weight: 700;
}

.icon-wrapper {
    position: relative;
    height: 52px;
    width: 52px;
    align-items: center;
    background-image: linear-gradient(180deg, #293159 0, #5b6497);
    border-radius: 16px;
    display: flex;
    justify-content: center;
}

.icon-frame {
    background-image: linear-gradient(0deg, #373c62 0, #424a7b);
    background-repeat: no-repeat;
    border-radius: 14px;
    position: absolute;
    left: 2px;
    right: 0;
    top: 3px;
    bottom: 0;
    height: calc(100% - 4px);
    width: calc(100% - 4px);
    z-index: 0;
}

.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 24px;
    width: 24px;
    object-fit: contain;
    z-index: 6;
}

.buy-price,
.sell-price,
.circulating-supply,
.mintable-amount {
    margin-bottom: 14px;
    padding: 0 0 14px;
}

.title {
    font-size: 1.6rem;
    font-weight: 600;
    margin: 0 0 4px;
    white-space: nowrap;
    color: hsla(0, 0%, 100%, 0.7);
}

.amount {
    display: flex;
    font-size: 2.4rem;
    font-weight: 500;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0;
}
.suffix {
    padding-left: 4px;
}
.button {
    align-items: center;
    background: transparent;
    background-image: linear-gradient(118deg, #7054d1 13%, #ab56c9 58%, #b275dc);
    background-repeat: no-repeat;
    border: 1px solid #7054d1;
    border-radius: 12px;
    box-shadow: 0 8px 12px 0 rgba(177, 109, 215, 0.28);
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    height: 56px;
    justify-content: center;
    line-height: 1;
    margin: 0;
    width: 100%;
    outline: 0;
    padding: 24px 32px;
    transition: all 0.2s ease-out;
    font-family: Poppins, sans-serif;
    white-space: nowrap;
    font-weight: 700;
    &:hover {
        background-position: 100% 100%;
        box-shadow: 0 4px 16px 0 rgba(177, 109, 215, 0.48);
    }
}

@media (max-width: 1024px) {
    .wrapper {
        padding: 48px 24px 24px;
    }
}

@media (max-width: 768px) {
    .wrapper {
        border-radius: 2.2rem;
    }
}
