.wrapper {
    backdrop-filter: blur(10px);
    border-radius: 50px;
    max-width: 1200px;
    overflow: hidden;
    padding: 48px 48px 40px;
    margin-bottom: 8rem;
}

.icon {
    margin-right: 6px;
}

.no-data {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.6rem 0;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 2.4rem;
}

.table-wrapper {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-image: linear-gradient(180deg, #373c62 0, #424a7b);
    border-radius: 50px;
    box-shadow: 0 4px 84px 0 rgba(0, 0, 0, 0.13);
    margin: 32px auto;
    max-width: 1200px;
    overflow: hidden;
    padding: 48px 48px 40px;
}

.transaction-accordions {
    border-radius: 22px;
    overflow: hidden;
}

@media screen and (max-width: 1024px) {
    .wrapper {
        padding: 0;
        border-radius: 2.2rem;
    }
}
