.table {
    border: none;
    width: 100%;
    text-align: left;
    table-layout: fixed;
    border-collapse: collapse;
}

.header-item {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    padding-right: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.row {
    padding: 8px 0;
    border-top: 1px solid #ccc;
}

.row-item {
    padding-right: 16px;
    font-size: 1.4rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
